@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');

$font: 'Slabo 27px', serif;

$yellow: #F4CE14; 

$dark-1: #495E57;
$background-color: #333;
$dark-2: #333;

$header-font: 'Lato', sans-serif;
$main-font: 'Inter', sans-serif;
$font-color: #fff;