footer a {
    color: #000;
}

.footer .social {
    font-size: 2rem;
}

.footer {
    background-color: $filler;
    font-weight: bold;
    margin-top: 20px;
    
}

.social a {
    text-decoration: none;
}



