


$contrast: #F4CE14; 
$contrast2: #C2AB36;
$filler: #33322D;

$background-color: #F5F7F8;

$header-font: 'Lato', sans-serif;
$main-font: 'Inter', sans-serif;
$font-color: #5C573E;
$font-color2: #5C573E;