@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');

$font: 'Slabo 27px', serif;

$contrast2: #C2AB36;
$contrast: #F4CE14; 
$filler: #495E57;
$background-color: #333;


$header-font: 'Lato', sans-serif;
$main-font: 'Inter', sans-serif;
$font-color: #bbb7b7;
$font-color2: #bbb7b7;
