@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');

$font: 'Slabo 27px', serif;

$contrast2: #C2AB36;
$contrast: #F4CE14; 
$filler: #495E57;
$background-color: #333;
$background-url: '../../../assets/img/dark-wall.jpg';

$header-font: 'Lato', sans-serif;
$main-font: 'Inter', sans-serif;
$font-color: #fff;
$font-color2: #fff;
$font-title: #414140;