


$contrast: #F4CE14; 
$contrast2: #C2AB36;
$filler: #2a2926;

$background-color: #bebdba;
$background-url: '../../../assets/img/white-wall.jpg';

$header-font: 'Lato', sans-serif;
$main-font: 'Inter', sans-serif;
$font-color: #c9c7bb;
$font-color2: #31312e;
$font-title: #414140;
